body {
font-family: 'Kaisei Tokumin', Arial, Helvetica, sans-serif;
}

.project-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.project-image img {
    width: 100%;
    max-width: 800px;
    height: auto;
    border-radius: 10px;
}

.project-description {
    margin-top: 20px;
    background-color: #ffffff; /* Set background color to white */
    border-radius: 10px; /* Add rounded corners */
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2); /* Add shadow effect */
    padding: 20px; /* Add padding inside the container */
    max-width: 800px; /* Set a maximum width for the description */
    margin: 20px auto; /* Center the container and add top/bottom margin */
}

.project-description p {
    font-size: 18px;
    margin: 0 auto;
}

.project-links {
    margin-top: 20px;
}

.project-links a {
    display: inline-block;
    margin: 0 10px;
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.project-links a:hover {
    background-color: #0056b3;
}
